@charset "utf-8";

@import "~bulma/sass/utilities/functions";

// Custom variables
$primary: #3f51b5;

$secondary: #ffeb3b;
$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: (
  "secondary": ($secondary, $secondary-invert),
);

@import "includes/variables";

@import "~bulma";
@import "~bulma-helpers";

@import "includes/custom";