{% extends "partials/_base.twig" %}

{% block content %}
	<div class="has-text-centered">
		<h1 style="font-size: 6rem;">
			404
		</h1>
		<h2 class="subtitle is-size-2">
			That's an error.
		</h2>
		<h4 class="is-size-4">
			The page you think should be here, isn't here.
		</h4>
		<br />
		<a href="{{ site.url }}" class="button is-secondary">
			Go Home
		</a>
	</div>
{% endblock %}