{% extends "partials/_base.twig" %}

{% block page %}
	<section class="hero is-medium is-primary has-background">
		<div class="hero-background">
			{% for image_id in theme.theme_mod('homepage_slideshow', '') %}
				{% set image = Image(image_id) %}
				<img src={{ image.src }}>
			{% endfor %}
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-8-desktop is-offset-2-desktop">
						<h1
							v-if="showTitle"
							class="title is-2 is-spaced"
						>
							Welcome to <span class="wp-blogname">{{ site.title }}</span>!
						</h1>
						<h2 class="wp-blogdescription subtitle is-4">
							{{ site.description }}
						</h2>
						<a
							href="/about"
							class="is-size-5 has-text-weight-bold has-text-info"
						>
							About Us &#8594;
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section posts">
		<div class="container">
			{% for post in posts %}
				{% include ['partials/_tease-' ~ post.post_type ~ '.twig', 'partials/_tease.twig'] %}
			{% endfor %}

			{% include 'partials/_pagination.twig' with {pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2})} %}
		</div>
	</section>
{% endblock page %}

{% block head %}
	<style>
		.hero-background img:nth-of-type(1) {
				animation-name: fader;
				animation-delay: 6s;
				animation-duration: 1s;
				z-index: 1;
		}
		.hero-background img:nth-of-type(2) {
				z-index: 0;
		}
		.hero-background img:nth-of-type(n+3) {
				display: none;
		}
		@keyframes fader {
				from { opacity: 1.0; }
				to   { opacity: 0.0; }
		}
	</style>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			var stage = document.querySelector('.hero-background');
			var fadeComplete = function () {
				stage.appendChild(arr[0]);
			}
			var arr = stage.getElementsByTagName('img');
			for (var i = 0; i < arr.length; i++) {
				arr[i].addEventListener('animationend', fadeComplete, false);
			}
		});
	</script>
{% endblock %}