{% extends "partials/_base.twig" %}

{% block page %}
	<section class="hero is-medium is-primary has-background">
		<div class="hero-background">

		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-8-desktop is-offset-2-desktop">
						<h1
							v-if="showTitle"
							class="title is-2 is-spaced"
						>
							Welcome to {{ site.title }}!
						</h1>
						<h2 class="subtitle is-4">
							{{ site.description }}
						</h2>
						<a
							href="/about"
							class="is-size-5 has-text-weight-bold has-text-info"
						>
							About Us &#8594;
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section posts">
    <div class="container">
			{% for post in posts %}
				{% include ['partials/_tease-'~post.post_type~'.twig', 'partials/_tease.twig'] %}
			{% endfor %}

			{% include 'partials/_pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		</div>
	</section>
{% endblock page %}

{#
{% block content %}
	<h2>{{ foo }}</h2>
	<p>{{ qux }}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	
	{% include 'partials/_pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
#}