{% extends 'partials/_base.twig' %}

{% block body %}
  <main id="photoMain" style="height: calc(100vh - 64px)">
    <iframe id="photoFrame" style="width:100%;height:100%;" src="https://lycheeorg.github.io/demo/"></iframe>
  </main>
{% endblock body %}