{% extends "partials/_base.twig" %}

{% block content %}
	<div class="content-wrapper columns is-centered">
		<article class="post-type-{{ post.post_type }} column is-6 has-text-centered" id="post-{{ post.ID }}">
			<section class="article-content">
				<h1 class="title is-1 article-h1">Password Protected</h1>
				<div class="content article-body">
					This page is password protected. Enter the password below to continue.
				</div>
				<form class="password-form" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input class="input password-box" name="post_password" id="pwbox-{{ post.ID }}" type="password" placeholder="Password" size="20" maxlength="20" />
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="button is-secondary password-btn" type="submit" name="Submit" value="Submit" />
						</div>
					</div>
				</form>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
